body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  height: auto;
  width: 100%;
}

.branding {
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  color: black;
  padding: 1rem;
  
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.dashboard-overview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  gap: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card span#num {
  padding: 10px;
  display: flex;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  color: orange;
}
.device {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.device p{
  color: gray;
}

.temperature-stats {
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 2rem;
  flex-wrap: wrap;
}
.card1 {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  flex-direction: column;
}
.card2 {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  flex-direction: column;
}
.alldevices {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  gap: 2rem;
}
.alldevices .d-card {
  padding: 15px;
  border-radius: 5px;
  width: 420px;
  height: 500px;
  display: flex;
  line-height: 0px;
  flex-direction: column;
  background-color: #fafafa;
}
.icon {
  flex-wrap: wrap;
  background-color: #ededed;
  color: orange;
  width: 100%;
  position: relative;
  height: 100%;
  border-radius: 5px;
  display: flex;
  line-height: 0px;
  align-items: center;
  justify-content: center;
}
.icon i {
  font-size: 8rem;
  padding: 20px;
  color: orange;
  text-shadow: 0px 0px 120px orange;
}

.temperature-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: 100%;
  padding: 20px;
  
}

